<header><h1>My First Store</h1></header>

<div id="menu">
	<ul>
		<li><%= link_to 'Home', root_path %></li>
		<li><%= link_to 'Products', products_path  %></li>
		<li><%= link_to 'Categories', categories_path %></li>
	</ul>


</div>